---
import { navClass } from "../utils/nav";

interface Props {
	isAdmin: boolean;
	pathname: string;
}

const { isAdmin, pathname } = Astro.props;
---

{isAdmin && (
		<>
			<a
				href="/users"
				class:list={navClass(
					pathname.startsWith("/users"),
				)}
			>
				Users
			</a>
			<a
				href="/transaction-categories"
				class:list={navClass(
					pathname.startsWith(
						"/transaction-categories",
					),
				)}
			>
				Categories
			</a>
			<a
				href="/import-transactions"
				class:list={navClass(
					pathname.startsWith(
						"/import-transactions",
					),
				)}
			>
				Import
			</a>
			<a
				href="/approve-transactions"
				class:list={navClass(
					pathname.startsWith(
						"/approve-transactions",
					),
				)}
			>
				Approve
			</a>
		</>
	)}
